<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
      border-radius: 5px;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    img {
      border-radius: 5px 5px 0 0;
    }
    
    .container {
      padding: 2px 16px;
    }
    </style>  
<div class="card">
      <img src="../assets/images/aravind.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Aravind Machiry</b></h4> 
        <p>Assistant Professor @ Purdue ECE</p> 
        <p><a href="mailto:amachiry@purdue.edu?subject=3clsp Help">amachiry@purdue.edu</a></p>
        <p><a href="https://github.com/Machiry">Github</a></p>
        
      </div>
</div>